# Godot 4+ specific ignores
.godot/
/android/
/export/
/export_opt/
/html_templates/

# Krita backup files
*.png~
*-autosave.kra
*noexport*

# This file is the current selected level in the editor, and doesn't need to be tracked.
addons/level_selector/seleceted_level.tres